nav {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid cyan;
  padding: 0 280px;
  z-index: 10;
  //backdrop-filter: blur(3px); // todo: apply on scroll
  font-family: "Abcdvd", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  li {
    display: flex;
    transition: all 0.2s ease-in-out;

    &.active, &:hover {
      a {
        color: $accent-color;
        transform: scale(1.15);
      }
    }

    &:active {
      background: $primary-color;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;
    font-size: 1.6em;
    line-height: 3em;
    text-align: center;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }
}
