body {
  margin: 0;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  background: url("../assets/background.png") repeat;
  background-size: contain;
  font-family: $font-family-base;
  color: $text-color;

  * {
    box-sizing: border-box;
  }
}

body, html {
  scroll-behavior: smooth;
}
