body {
  margin: 0;
  position: relative;
  background: url("../assets/background.png") repeat;
  background-size: contain;
  font-family: $font-family-base;
  color: $text-color;

  letter-spacing: -1.5px;
  word-spacing: 5px;

  * {
    box-sizing: border-box;
  }
}

body, html {
  scroll-behavior: smooth;
}
