@font-face {
  font-family: 'Abcdvd';
  src: url("../assets/fonts/Abcdvd-Regular.otf") format("otf"),
  url('../assets/fonts/Abcdvd-Regular.ttf');
}

@font-face {
  font-family: 'Odstavec';
  src: url("../assets/fonts/Odstavec-Regular.otf") format("otf"),
  url('../assets/fonts/Odstavec-Regular.ttf');
}
