h1 {
  font-family: $font-family-heading;
  text-align: center;
  font-size: 3em;
  color: $main-heading-color;
  letter-spacing: -1px;
  word-spacing: normal;

  &--stroked {
    -webkit-text-stroke: 2px black;
  }
}
