.about {
  p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__content {
    line-height: 3.8;
    transition: line-height 2s ease;

    &.squash {
      line-height: 1.8;
    }
  }
}
