.connect {
  position: relative;
  width: 100%;

  &__ruka, &__kopytko {
    width: 50vw;
    position: fixed;
    top: 10%;

    svg {
      width: 100%;
    }
  }

  &__ruka {
    left: 0;
    transform: translateX(-100%);
  }

  &__kopytko {
    right: 0;
    transform: translateX(100%);
  }
}
