.portfolio {
  p {
    font-size: 1.5em;
    margin: 1.5em 0;
  }

  &__examples {

    &__content {
      position: relative;

      .aside {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 200px; // todo calculate free space

        &--left {
          right: 100%;
        }

        &--right {
          left: 100%;
        }

        // Ben&Jerry's
        &.ben-jerry {

        }
      }
    }
  }
}
