$container-thin-w: 600px;

$font-family-base: "Odstavec", sans-serif;
$font-family-heading: "Abcdvd", sans-serif;

$main-heading-color: #59936f;
$primary-color: #26f550;
$accent-color: #d5283c;
$text-color: #292929;
